<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>北京红宝力农业科技有限公司</title>
		<link rel="stylesheet" href="__CSS__/bootstrap.css" />
		<link rel="stylesheet" href="__CSS__/top.css" />
		<link rel="stylesheet" href="__CSS__/product.css" />
		<script type="text/javascript" src="__JS__/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
	</head>
	<body>
		
		<!--头部-->
		<include file="Public/header"/>
		
		<!--产品内容-->
		<div class="product">
			<div class="row cp-daohan">
				<img src="__IMG__/goods_mekj.png"/> 产品中心
			</div>
			
			<div class="chanpin row">
				<div class="col-md-3 col-xs-6 chanpindiv"><p><a href="{:U('Details/details')}?id=1"><img src="__IMG__/tuszen.jpg" /></a></p><p>幼马马粮幼好粮马</p></div>
				<div class="col-md-3 col-xs-6 chanpindiv"><p><a href="details.html"><img src="__IMG__/tuszen.jpg" /></a></p><p>幼马马粮</p></div>
				<div class="col-md-3 col-xs-6 chanpindiv"><p><a href="details.html"><img src="__IMG__/tuszen.jpg" /></a></p><p>幼马马粮</p></div>
				<div class="col-md-3 col-xs-6 chanpindiv"><p><a href="details.html"><img src="__IMG__/tuszen.jpg" /></a></p><p>幼马马粮</p></div>
				<div class="col-md-3 col-xs-6 chanpindiv"><p><a href="details.html"><img src="__IMG__/tuszen.jpg" /></a></p><p>幼马马粮</p></div>
				<div class="col-md-3 col-xs-6 chanpindiv"><p><a href="details.html"><img src="__IMG__/tuszen.jpg" /></a></p><p>幼马马粮</p></div>
				<div class="col-md-3 col-xs-6 chanpindiv"><p><a href="details.html"><img src="__IMG__/tuszen.jpg" /></a></p><p>幼马马粮</p></div>
				<div class="col-md-3 col-xs-6 chanpindiv"><p><a href="details.html"><img src="__IMG__/tuszen.jpg" /></a></p><p>幼马马粮</p></div>
				<div class="col-md-3 col-xs-6 chanpindiv"><p><a href="details.html"><img src="__IMG__/tuszen.jpg" /></a></p><p>幼马马粮</p></div>
				<div class="col-md-3 col-xs-6 chanpindiv"><p><a href="details.html"><img src="__IMG__/tuszen.jpg" /></a></p><p>幼马马粮</p></div>
				<div class="col-md-3 col-xs-6 chanpindiv"><p><a href="details.html"><img src="__IMG__/tuszen.jpg" /></a></p><p>幼马马粮</p></div>
				<div class="col-md-3 col-xs-6 chanpindiv"><p><a href="details.html"><img src="__IMG__/tuszen.jpg" /></a></p><p>幼马马粮</p></div>
				<div class="col-md-3 col-xs-6 chanpindiv"><p><a href="details.html"><img src="__IMG__/tuszen.jpg" /></a></p><p>幼马马粮</p></div>
				<div class="col-md-3 col-xs-6 chanpindiv"><p><a href="details.html"><img src="__IMG__/tuszen.jpg" /></a></p><p>幼马马粮</p></div>
				<div class="col-md-3 col-xs-6 chanpindiv"><p><a href="details.html"><img src="__IMG__/tuszen.jpg" /></a></p><p>幼马马粮</p></div>
				<div class="col-md-3 col-xs-6 chanpindiv"><p><a href="details.html"><img src="__IMG__/tuszen.jpg" /></a></p><p>幼马马粮</p></div>
				<div class="col-md-3 col-xs-6 chanpindiv"><p><a href="details.html"><img src="__IMG__/tuszen.jpg" /></a></p><p>幼马马粮</p></div>
				<div class="col-md-3 col-xs-6 chanpindiv"><p><a href="details.html"><img src="__IMG__/tuszen.jpg" /></a></p><p>幼马马粮</p></div>
			</div>
			
			<div class="chanpinfy row">
					<a href="#"><<</a>
					<a href="#">1</a>
					<span>2</span>
					<a href="#">3</a>
					<a href="#">>></a>
			</div>
		</div>
		
		<!--底部信息-->
		<include file="Public/footer"/>
	</body>
</html>
