<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>北京红宝力农业科技有限公司</title>
		<link rel="stylesheet" href="__CSS__/bootstrap.css" />
		<link rel="stylesheet" href="__CSS__/top.css" />
		<link rel="stylesheet" href="__CSS__/newsdetail.css" />
		<script type="text/javascript" src="__JS__/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
	</head>
	<body>
		
		<!--头部-->
		<include file="Public/header"/>
		
		<!--详情页-->
		<div class="details">
			<div class="row dtd1">
				<p><b>新闻名称</b></p>
				<p>作者:pmo732796<span class="dtd1-span">发布时间: 2016-08-02</span>172 次浏览</p>
				<div class="row dtdiv">2016浪琴表北京国际马术大师赛于9月2日至4日在北京鸟巢成功举办，红朗姆作为赛事合作伙伴给予了多方面支持。</div>
			</div>
			
			<div class="row dtd2">
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
			</div>
			<div class="row dtd3">
				<p>上一章：<a href="#">哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</a></p>
				<p>下一章：<a href="#">呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵</a></p>
			</div>
		</div>
		
		<!--底部信息-->
		<include file="Public/footer"/>
	</body>
</html>
