<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>北京红宝力农业科技有限公司</title>
		<link rel="stylesheet" href="__CSS__/dianjilunbo.css" />
		<link rel="stylesheet" href="__CSS__/bootstrap.css" />
		<link rel="stylesheet" href="__CSS__/top.css" />
		<link rel="stylesheet" href="__CSS__/about.css" />
		<script type="text/javascript" src="__JS__/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>		
		<link href="__CSS__/juheweb.css" rel="stylesheet"/>
		<script src="__JS__/jquery.min.js"></script>
		<script type="text/javascript" src="__JS__/jquery.SuperSlide.js"></script>
		<script type="text/javascript" src="__JS__/YuxiSlider.jQuery.min.js"></script>
	</head>
	<body>
		
		<!--头部-->
		<include file="Public/header"/>
		
		<!--产品内容-->
		<div class="product">
			<div class="row cp-daohan">
				<img src="__IMG__/goods_mekj.png"/> 红宝力故事
			</div>
			
			<div class="chanpin row">
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
				阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时阿打算的按时大大按时
			</div>
			
			
			<div class="picScroll">
			<div class="bd">
				<a class="prev prevStop"></a>
				<a class="next"></a>
				<div class="scrollWrap">
					<div class="tempWrap">
						<ul class="picList">
							
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题1 </p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题2 </p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题3 </p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题4 </p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题5 </p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题6 </p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题7 </p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题8 </p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题9 </p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题10</p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题11</p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题12</p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题13</p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题14</p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题15</p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题16</p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题17</p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题18</p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题19</p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题20</p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题21</p></li>
							<li><a class="pic"><img src="__IMG__/3.jpg"></a><p class="movielist_tt">这是某某某标题22</p></li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>

<script type="text/javascript">jQuery(".picScroll").slide({ mainCell:".picList", effect:"left",vis:4, pnLoop:false, scroll:4, autoPage:true});</script>
<style>.jhp{ padding:5px 0px; text-align:center; font-size:12px;clear:both; margin:0px; }.d_foot_o{ text-align:center; margin:35px 0 10px 0 ;clear:both; }</style>

<div class="demo">
	<a class="control prev"></a><a class="control next abs"></a><!--自定义按钮，移动端可不写-->
	<div class="slider"><!--主体结构，请用此类名调用插件，此类名可自定义-->
		<ul>
			<li><a href=""><img src="__IMG__/3.jpg" /></a></li>
			<li><a href=""><img src="__IMG__/3.jpg" /></a></li>
			<li><a href=""><img src="__IMG__/3.jpg" /></a></li>
			<li><a href=""><img src="__IMG__/3.jpg" /></a></li>
			<li><a href=""><img src="__IMG__/3.jpg" /></a></li>
			<li><a href=""><img src="__IMG__/3.jpg" /></a></li>
		</ul>
	</div>
</div>
			
		</div>
		
		<!--底部信息-->
		<include file="Public/footer"/>
		
		<script>
			$(".slider").YuxiSlider({
				width:250, //容器宽度
				height:200, //容器高度
				control:$('.control'), //绑定控制按钮
				during:4000, //间隔4秒自动滑动
				speed:800, //移动速度0.8秒
				mousewheel:true, //是否开启鼠标滚轮控制
				direkey:true //是否开启左右箭头方向控制
			});
			</script>
		
		
	</body>
</html>
