<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>北京红宝力农业科技有限公司</title>
		<link rel="stylesheet" href="__CSS__/bootstrap.css" />
		<link rel="stylesheet" href="__CSS__/top.css" />
		<link rel="stylesheet" href="__CSS__/journalism.css" />
		<script type="text/javascript" src="__JS__/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="__JS__/bootstrap.min.js"></script>
	</head>
	<body>
		
		<!--头部-->
		<include file="Public/header"/>
		
		<!--新闻内容-->
		<div class="product">
			<div class="row cp-daohan">
				<img src="__IMG__/goods_mekj.png"/> 新闻咨询
			</div>
			
			<div class="xinwen row">
<!---------------------------------------------------------------------------------------------------->
				<div class="row xinwendiv">
					<div class="col-md-2"><a href="{:U('Newsdetail/newsdetail')}"><img src="__IMG__/rk39.jpg"/></a></div>
					<div class="col-md-9">
						<p><a href="{:U('Newsdetail/newsdetail')}">浪琴表北京国际马术大师赛</a></p>
						<p>2016-09-29</p>
						<p>2016浪琴表北京国际马术大师赛于9月2日至4日在北京鸟巢成功举办，红朗姆作为赛事合作伙伴给予了多方面支持。</p>
					</div>
				</div>
				<div class="row xinwendiv">
					<div class="col-md-2"><a href="newsdetail.html"><img src="__IMG__/rk39.jpg"/></a></div>
					<div class="col-md-9">
						<p><a href="newsdetail.html">浪琴表北京国际马术大师赛</a></p>
						<p>2016-09-29</p>
						<p>2016浪琴表北京国际马术大师赛于9月2日至4日在北京鸟巢成功举办，红朗姆作为赛事合作伙伴给予了多方面支持。</p>
					</div>
				</div>
				<div class="row xinwendiv">
					<div class="col-md-2"><a href="newsdetail.html"><img src="__IMG__/rk39.jpg"/></a></div>
					<div class="col-md-9">
						<p><a href="newsdetail.html">浪琴表北京国际马术大师赛</a></p>
						<p>2016-09-29</p>
						<p>2016浪琴表北京国际马术大师赛于9月2日至4日在北京鸟巢成功举办，红朗姆作为赛事合作伙伴给予了多方面支持。</p>
					</div>
				</div>
				<div class="row xinwendiv">
					<div class="col-md-2"><a href="newsdetail.html"><img src="__IMG__/rk39.jpg"/></a></div>
					<div class="col-md-9">
						<p><a href="newsdetail.html">浪琴表北京国际马术大师赛</a></p>
						<p>2016-09-29</p>
						<p>2016浪琴表北京国际马术大师赛于9月2日至4日在北京鸟巢成功举办，红朗姆作为赛事合作伙伴给予了多方面支持。</p>
					</div>
				</div>
				<div class="row xinwendiv">
					<div class="col-md-2"><a href="newsdetail.html"><img src="__IMG__/rk39.jpg"/></a></div>
					<div class="col-md-9">
						<p><a href="newsdetail.html">浪琴表北京国际马术大师赛</a></p>
						<p>2016-09-29</p>
						<p>2016浪琴表北京国际马术大师赛于9月2日至4日在北京鸟巢成功举办，红朗姆作为赛事合作伙伴给予了多方面支持。</p>
					</div>
				</div>
				<div class="row xinwendiv">
					<div class="col-md-2"><a href="newsdetail.html"><img src="__IMG__/rk39.jpg"/></a></div>
					<div class="col-md-9">
						<p><a href="newsdetail.html">浪琴表北京国际马术大师赛</a></p>
						<p>2016-09-29</p>
						<p>2016浪琴表北京国际马术大师赛于9月2日至4日在北京鸟巢成功举办，红朗姆作为赛事合作伙伴给予了多方面支持。</p>
					</div>
				</div>
				<div class="row xinwendiv">
					<div class="col-md-2"><a href="newsdetail.html"><img src="__IMG__/rk39.jpg"/></a></div>
					<div class="col-md-9">
						<p><a href="newsdetail.html">浪琴表北京国际马术大师赛</a></p>
						<p>2016-09-29</p>
						<p>2016浪琴表北京国际马术大师赛于9月2日至4日在北京鸟巢成功举办，红朗姆作为赛事合作伙伴给予了多方面支持。</p>
					</div>
				</div>
				<div class="row xinwendiv">
					<div class="col-md-2"><a href="newsdetail.html"><img src="__IMG__/rk39.jpg"/></a></div>
					<div class="col-md-9">
						<p><a href="newsdetail.html">浪琴表北京国际马术大师赛</a></p>
						<p>2016-09-29</p>
						<p>2016浪琴表北京国际马术大师赛于9月2日至4日在北京鸟巢成功举办，红朗姆作为赛事合作伙伴给予了多方面支持。</p>
					</div>
				</div>
				<div class="row xinwendiv">
					<div class="col-md-2"><a href="newsdetail.html"><img src="__IMG__/rk39.jpg"/></a></div>
					<div class="col-md-9">
						<p><a href="newsdetail.html">浪琴表北京国际马术大师赛</a></p>
						<p>2016-09-29</p>
						<p>2016浪琴表北京国际马术大师赛于9月2日至4日在北京鸟巢成功举办，红朗姆作为赛事合作伙伴给予了多方面支持。</p>
					</div>
				</div>
				<div class="row xinwendiv">
					<div class="col-md-2"><a href="newsdetail.html"><img src="__IMG__/rk39.jpg"/></a></div>
					<div class="col-md-9">
						<p><a href="newsdetail.html">浪琴表北京国际马术大师赛</a></p>
						<p>2016-09-29</p>
						<p>2016浪琴表北京国际马术大师赛于9月2日至4日在北京鸟巢成功举办，红朗姆作为赛事合作伙伴给予了多方面支持。</p>
					</div>
				</div>

				
				
<!---------------------------------------------------------------------------------------------------->
			</div>
			
			<div class="chanpinfy row">
					<a href="#"><<</a>
					<a href="#">1</a>
					<span>2</span>
					<a href="#">3</a>
					<a href="#">>></a>
			</div>
		</div>
		
		<!--底部信息-->
		<include file="Public/footer"/>
	</body>
</html>
