.details{width: 100%;min-height: 300px;padding-top:20px;}
.dtd1{width: 80%;height: auto;margin: 0 auto;text-align: center;border-bottom: 1px solid #ccc;}
.dtd1-span{margin: 0 30px 0 30px;}
.dtd2{width: 90%;min-height: 300px;margin: 0 auto;padding-top: 20px;padding-bottom: 50px;}

.dtd3{width: 90%;padding-top: 20px;margin: 0 auto;}
.dtd3 a{color: #333;}





